@page
@model number_system_calculator_KDA.Pages.BasketModel
@{
}
<h2>Basket</h2>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>            
            <th>Quantity</th>
            <th>Price</th>
            <td>Sum</td>
            <th></th>
        </tr>
    </thead>
    <tbody>        
        @foreach (var dish in Model.Baskets)
        {
        <tr>
            <td>@dish.Dish.Title</td>
            <td> <input asp-for="@dish.Quantity" type="number" min="1" max="100">  </td>
            <td>@dish.Price </td>
            <td>@dish.Sum</td>

            <td>
                <form method="post" asp-page-handler="Delete" asp-route-id="@dish.Id" style="display:inline;">
                    <button type="submit" class="btn btn-success" onclick="return confirm('Вы уверены что хотите заказать?')">Заказать</button>
                </form>
            </td>
        </tr>
        }
    </tbody>
</table>