@page
@model number_system_calculator_KDA.Pages.DishsModel
@{
}

<h2>Menu</h2>

<p>
    <a class="btn btn-primary" href="@Url.Page("Dish", new { id = 0 })">Добавить новое блюдо</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Structure</th>
            <th>Gram</th>
            <th>Price</th>    
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var dish in Model.Dishs)
        {
            <tr>
                <td>@dish.Title</td>
                <td>@dish.Structure</td>
                <td>@dish.Gram</td>
                <td>@dish.Price</td>

                <td>
                    <a asp-page="Dish" asp-route-id="@dish.Id" class="btn btn-success">Изменить</a>                   
                    <form method="post" asp-page-handler="Delete" asp-route-id="@dish.Id" style="display:inline;">
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Удалить блюдо?')">Удалить</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>