@page
@model number_system_calculator_KDA.Pages.MenuModel
@{
}

<h2>Menu</h2>

<p>
    <a class="btn btn-primary" href="@Url.Page("Menu", new { id = 0 })">Добавить новое блюдо</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Structure</th>
            <th>Gram</th>
            <th>Price</th>            
        </tr>
    </thead>
    <tbody>
        @foreach (var menu_ in Model.menu)
        {
            <tr>
                <td>@menu_.Title</td>
                <td>@menu_.Structure</td>
                <td>@menu_.Gram</td>
                <td>@menu_.Price</td>

                <td>
                    <a href="@Url.Page("Menu", new { id = menu_.Id })">Edit</a> |
                    <a href="javascript:void(0);" onclick="if (confirm('Are you sure you want to delete?')) { window.location.href = '@Url.Page("BookDelete", new { id = menu_.Id })'; }">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>